

<div class="table-responsive">
    <div class="input-group input-group-sm search-control help-Search">
        <input type="text" class="form-control personaSearch" placeholder="Search" ng-model="searchFooterData" /><span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
    </div>
    <br /><br />
    <table class="table table-striped td-Break" id="tblServiceApplication">
        <colgroup>
            <col style="width:10%">
            <col style="width:10%">
            <col style="width:15%">
            <col style="width:7%">
            <col style="width:10%">
            <col style="width:15%">
            <col style="width:15%">
            <col style="width:10%">
        </colgroup>

        <thead>
            <tr>
                <td>Alignment</td>
                <td>Element Type</td>
                <td>Display Text</td>
                <td>TabIndex</td>
                <td>Css Class</td>
                <td>Href</td>
                <td>Image Path</td>
                <td style="float:right;" align="right">
                    <div class="round-edit" ng-click="editFxpFooter(null,'Add',0)" style="" title="Add New Footer">+</div>
                </td>
            </tr>
        </thead>
        <tbody ng-repeat="(key,alignPanel) in FxpFooterData|searchKeyValue:searchFooterData">
            <tr ng-repeat="link in alignPanel">

                <td>
                    {{key}}
                </td>
                <td>
                    {{link.ElementType}}
                </td>
                <td>
                    {{link.DisplayText}}
                </td>
                <td>
                    {{link.TabIndex}}
                </td>
                <td>
                    {{link.cssClass}}
                </td>

                <td>
                    {{link.href}}
                </td>
                <td>
                    {{link.ImagePath}}
                </td>
                <td align="right">
                    <span class="edit-span" title="Edit" ng-click="editFxpFooter(key,link,'Edit',$index)">&#xE104;</span>
                    <span class="edit-span" title="Delete" ng-click="deleteFxpFooter(key,$index)">&#xE107;</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

