

<div class="table-responsive">
    <div class="input-group input-group-sm search-control help-Search">
        <input type="text" class="form-control personaSearch" placeholder="Search" ng-model="searchHelpLink" /><span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
    </div>
    <br />
    <br />

    <div class="personaContainer">
        <table class="table">
            <tr>
                <th>#Help Links</th>
                <td ng-repeat="persona in Personas" align="center">
                    <b>{{persona}}</b> 
                </td>
            </tr>
            <tbody >
                <tr ng-repeat="hLink in FxpHelpLinks |filter:searchHelpLink">
                    <td>{{hLink.DisplayText }}</td>
                    <td ng-repeat="persona in Personas" align="center">
                        <input id="{{persona+hLink.DisplayText.split(' ').join('')  +$index}}" type="checkbox"
                               ng-model="isCheck" class="checkbox-inline" value="{{persona}}"
                               ng-checked="verifyPersonaHelpLinkMap(persona,hLink.DisplayText )"
                               ng-click="personaHelpLinkChecked(persona,hLink.DisplayText  ,persona+hLink.DisplayText.split(' ').join('')  +$index)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="float:right;">
        <input type="submit" ng-click="updatePersonaHelpLinks()" ng-disabled="!isPersonaHLinkUpdated" value="Update" class="btn btn-primary" />
    </div>
</div>


