

<div class="table-responsive">
    <div class="input-group input-group-sm search-control" style="float:right;width:23%;">
        <input type="text" class="form-control personaSearch" placeholder="Search" ng-model="searchRoute" /><span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
    </div>
    <br />
    <br /> 
    <div class="personaContainer">
        <table class="table">
            <tr>
                <th>#Routes</th>
                <th ng-repeat="persona in Personas">
                    {{persona}}
                </th>
            </tr>
            <tbody>
                <tr ng-repeat="route in Routes |filter:searchRoute">
                    <td>{{route.RouteName +">"+route.StateName}}</td>
                    <td ng-repeat="persona in Personas" align="center">
                        <input id="{{persona+route.RouteName.split(' ').join('_').replace('.','')+$index}}" type="checkbox"  ng-checked="verifyPersonaRouteMap(persona,route.RouteName)" ng-model="isCheck" class="checkbox-inline" value="{{persona}}" ng-click="routeChecked(persona,route.RouteName,persona+route.RouteName.split(' ').join('_').replace('.','')+$index)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="float:right;">
        <input type="submit" ng-click="updatePersonaRouteMap()" ng-disabled="!isPersonaRouteUpdated" value="Update" class="btn btn-primary" />
    </div>
</div>


